/* font-family: 'Open Sans', sans-serif; */

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}

.content{
  display: flex;
}

.task__list{
  width: 100%;
}

.list-item{
  height: 30px;
  font-weight: 200;
  font-size: 16px;
  border-top: 1px solid #999;
}

.list-item:nth-child(even){
  font-size: 12px;
  border: none;
}

.task__list-item{
  height: 60px;
}

.task__list-item + .task__list-item{
  border-top: 1px solid #999;
}

.task__list-item:first-child{
  border-top: 1px solid #999;
}

.tasks__box {
  position: static;
  height: 100%;
  display: flex;
  padding: 0;
}

.task{
  position: relative;
  width: 100%;
  max-width: 200px;
  background-color: #E2ECF5;
  border-left: 2px solid #6E9ECF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  top: 0;
  left: 0;
  display: none;
}

.form__wrapper.show {
  display: block;
}

.form {
  background-color: white;
  font-size: 16px;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  border-radius: 30px;
}

.form__title,
.form__time,
.form__btn{
  margin-bottom: 40px;
}

.form label {
  display: block;
  margin-bottom: 3px;
}

.form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid grey;
  outline: none;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
}

.form__color{
  width: 50%;
  margin: 0 auto 40px;
}

.form__time{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form__btn{
  display: flex;
  justify-content: center;
}

#event-create[disabled=true]{
  background-color: grey;
  cursor:default;
}

.hidden{
  display: none;
}

#event-delete,
#event-change{
  display: none;
}

#event-change.show{
  display: block;
}

#event-delete.show{
  display: block;
  margin-right: 30px;
}

#event-create,
#event-delete,
#event-change,
#clear {
  background-color: blue;
  color: white;
  border: 1px solid blue;
  transition: all .3s ease;
  padding: 10px 20px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  /* cursor: pointer; */
}

#clear{
  position: absolute;
  right: 10px;
  top: 10px;
}